<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Pokemons</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/css/bootstrap2/bootstrap-switch.min.css" />
    <link rel="stylesheet" href="statics/css/style.css" />
</head>
<body>

<div id="map"></div>
<div id="formContainer">
    <div id="show-hide-controls">X</div>
    <form id="logForm">
        <div class="form-group">
            <input class="form-control" type="text" name="usuer" id="user" placeholder="User">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="pass" id="pass" placeholder="Password">
        </div>
        <div class="form-group">
            <select class="form-control" name="provider" id="provider">
                <option value="google">Google</option>
                <option value="ptc">Pokemon Go Account</option>
            </select>
        </div>

        <div class="form-group">
            <input type="checkbox" name="switcher" data-label-text="Radar" />
        </div>

        <div class="form-group">
            <input type="checkbox" name="switcher-fixed" data-label-text="Fixed position" />
        </div>
    </form>
</div>

<script>
    window.pokedex = {{ pokedex | json | safe }};
</script>
<scrip src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></scrip>
<script src="//code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.2/js/bootstrap-switch.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js"></script>
<script src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=initMap&key=AIzaSyB0BauH3s63m4_2cektNnE80blI8pfWvbg" async></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jStorage/0.4.12/jstorage.min.js"></script>
<script src="statics/js/app.js"></script>
</body>
</html>