<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Pokemons</title>
    
    <style>
        html, body {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
        }
        #map {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>

<div id="map"></div>

<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=initMap&key=AIzaSyB0BauH3s63m4_2cektNnE80blI8pfWvbg" async defer></script>
<script>
    var     endpoint = 'https://pokeapi.co/api/v2/pokemon-form/',
            dir = '{{ dir }}',
            pokemons = {{ pokemons | json | safe }};

    function initMap () {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 18
        });
        geoCodeAdress(new google.maps.Geocoder(), map);
        addPokemonsMap(map);
    }

    function addPokemonsMap (map) {
        var data = pokemons[0] || null;

        if (data) {
            if (data.catchable_pokemon) {
                console.log('catchable', data.catchable_pokemon);
                renderMap(data.catchable_pokemon, 'catchable');
            }

            if (data.wild_pokemon) {
                console.log('wild', data.wild_pokemon);
                //renderMap(data.wild_pokemon, 'wild');
            }

            if (data.nearby_pokemon) {
                console.log('nearby', data.nearby_pokemon);
            }
        }

        function renderMap (obj, type) {
            var defs = [];

            $.each(obj, function (k, v) {
                defs.push($.get(endpoint + v.pokemon_id).then(function (result) {
                    var marker = new google.maps.Marker({
                        position: {lat: v.latitude, lng: v.longitude},
                        map: map,
                        icon: result.sprites.front_default,
                        title: result.name
                    });
                }));

                $.when.apply(null, defs)
                        .done(function (result) {
                            console.log('Hecho');
                        });
            });
        }
    }

    function geoCodeAdress (geocoder, map) {
        geocoder.geocode({'address': dir}, function(results, status) {
            if (status === google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);

                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }
</script>
</body>
</html>